*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('../images/check.jpg') center/cover no-repeat fixed;
    min-height: 100vh;
    color: #fff;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}
.container {
  background: #fff;
  width: 900px;
  height: 520px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

/* FORMS */
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 50px;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  z-index: 2;
}

.sign-up {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-in {
  transform: translateX(100%);
}

.container.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.input-group {
  margin: 8px 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
}

.social-icons {
  margin-top: 10px;
}

.social-icons i {
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  transform: scale(1.2);
}

/* OVERLAY */
.overlay-container {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.6s;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: linear-gradient(135deg, #00bcd4, #0066ff);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  display: flex;
  transition: 0.6s;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container:not(.right-panel-active) .overlay-left {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.container.right-panel-active .overlay-left {
  opacity: 0;
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-right {
  opacity: 0;
  transform: translateX(0);
  pointer-events: all;
}

.overlay-panel {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.ghost {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.overlay-panel :left {
  left: 0;
  transform: translateX(-20%);
}

.overlay-panel :right {
  right: 0;
  transform: translateX(20%);
}