* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
:root {
  --glass-bg: rgba(255, 255, 255, 0.15);
  --glass-border: rgba(255, 255, 255, 0.25);
  --text-color: black;
  --primary: #4f46e5;
  --secondary: #00eaff;
}
body {
  min-height: 100vh;
  background: url('../images/check.jpg') center/cover no-repeat fixed;
  display: grid;
  place-items: center;
  color: var(--text-color);
  overflow: hidden;
}
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 1000;
}
.container {
  position: relative;
  width: 800px;
  max-width: 95%;
  height: 520px;
  background: var(--glass-bg);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px sold var(--glass-bg);
  border-radius: 22px;
  box-shadow: 0 15px 15px 15px rgba(0, 0, 0, 0.45)

}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
}
.form {
  height: 100%;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.input-group input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.95rem;
}
.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.password-group {
  position: relative;
}
.eye-icon {
  position: absolute;
  font-size: 16px;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
button {
  padding: 14px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
button:hover {
  transform: scale(1.2) rotate(2deg);;
  box-shadow: 0 3px rgba(79, 70, 229, 0.45);
}
.button.ghost {
  background: transparent;
  border: 2px solid #fff;
}
.divider {
  display: flex;
  align-items: center;
  margin: 18px 0;
  color: black;
  font-size: 15px;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--secondary), transparent);
}
.divider::before {
  margin-right: 12px;
}
.divider::after {
  margin-left: 12px;
}
.divider span {
  text-transform: lowercase;
  letter-spacing: 1px;
}
.forgot-password a {
  font-size: 0.85rem;
  opacity: 0.85;
  text-decoration: none;
  color: red;
}
.forgot-password a:hover {
  text-decoration: underline;
}
.socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 22px;
}
.socials img {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  filter: 
    drop-shadow(0 0 6px var(--secondary))
    drop-shadow(0 0 14px var(--secondary))
    drop-shadow(0 0 28px var(--secondary));
  transition: tranform 0.3s ease, filter 0.3s ease;
}
.socials img:hover {
  transform: scale(1.2) rotate(2deg);
  filter: 
    drop-shadow(0 0 10px var(--secondary))
    drop-shadow(0 0 25px var(--secondary))
    drop-shadow(0 0 45px var(--secondary));
}
.sign-in,
.sign-up {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.7s ease;
}
.container.right-panel-active .sign-in {
  transform: translateX(-100%);
}
.container.right-panel-active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.container:not(.right-panel-active) .sign-in {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.overlay {
  background: linear-gradient(135deg, rgba(79, 70, 229, 0.85),
  rgba(34, 211, 238, 0.85));
  position: relative;
  height: 100%;
  width: 200%;
  left: -100%;
  transform: translateX(0);
  transition: transform 0.7s ease-in-out;

}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.7s ease-in-out;
  z-index: 100;
}
.overlay-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 40px;
  text-align: center;
}
.overlay-img {
  width: 160px;
  margin-bottom: 20px;
  transform: translateX(-60px) translateY(20px) rotate(-10deg);
  animation: floatBounce 3s ease-in-out infinite;
  filter: drop-shadow(0 18px 35px rgba(0,0,0,0.4));
}
.overlay-left {
  transform: translateX(0%);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container.right-panel-active .overlay {
  transform: translateX(50%);
}
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
@keyframes floatBounce {
  0% {
    transform:  translateX(-60px) translateY(25px) rotate(-10deg);
    opacity: 1;
  }
  50% {
    transform: translateX(8px) translateY(-6px) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: translateX(60) translateY(-25px) rotate(-10deg);
    opacity: 1;
  }
}
