:root {
    --bg: #0f2027;
    --glass: rgba(255, 255, 255, 0.15);
    --text: #ffffff;
    --accent: #00fff7;
}

.light {
    --bg: #f5f7fa;
    --glass: rgba(0, 0, 0, 0.15);
    --text: #000000;
    --accent: #0066ff;
}
body {
    align-items: center;
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}
.auth-container{
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(18px);
    grid-template-columns: 1fr 1fr;
    display: grid;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    width: 820px;
    text-align: center;
    height: 500px;
    transition: transform 0.6s ease;
}
.bu-logo {
    background: url("../images/busitema-university-seeklogo.png") center/cover no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    overflow: hidden;
    flex-shrink: 0;
}
.bu-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-panel {
    
    transition: transform 0.6s ease;
    object-fit: contain;

}
.form-panel {
    overflow: hidden;
    width: 100%;
    position: relative;

}
.theme-toggle {
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 95%;
    font-size: 1.4rem;
}
.form {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: transform 0.6s ease;
}
.eye-icon {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -1%;
    transform:  translateY(-50%);

}
.input-group {
    position: relative;
    margin-bottom: 25px 10px;
    width: 60%;
    padding: 12px;
}
.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    background: transparent;
    color: var(--text);
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 0 10px var(--accent);
}
.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--accent);
    color: var(--bg);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
button:hover {
    transform: scale(1.12);
}
.switch {
    margin-top: 18px;
    text-align: right;
    font-size: 14px;
}
.switch a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}
.switch a:hover {
    text-decoration: underline;
}
.switch-btn {
    cursor: pointer;
    color: #00fff7;
    font-weight: bold;
}
.login-form {
    transform: translateX(0%);
}
.signup-form {
    transform: translateX(100%);
}
.auth-container.active .login-form {
    transform: translateX(-100%);
}
.auth-container.active .signup-form {
    transform: translateX(0%);
}
.auth-container.active .image-panel {
    transform: translateX(100%);
}
 
