:root {
    --bg-image: url("../images/busitema-university-seeklogo.png");
    --overlay: rgba(0, 0 , 0, 0.65);
    --text: #ffffff;
    --accent: #00fff7;
}

.light {
    --bg-image: url("../images/busitema-university-seeklogo.png");
    --overlay: rgba(0, 0 , 0, 0.65);
    --text: #000000;
    --accent: #0066ff;
}
body {
    align-items: center;
    background: 
        linear-gradient(var(--overlay), var(--overlay)),
        var(--bg-image) no-repeat center center fixed;
    color: var(--text);
    transition: background 0.6s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}
.auth-container{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    padding: 70px;
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 340px;
    text-align: center;
}
.theme-toggle {
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 95%;
    font-size: 1.4rem;
}
.eye-icon {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: -1%;
    transform:  translateY(-50%);

}
.input-group {
    position: relative;
    margin-bottom: 25px 10px;
    width: 80%;
    padding: 12px;
}
.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    background: transparent;
    color: var(--text);
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 0 10px var(--accent);
}
.input-group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--accent);
    color: var(--bg);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
button:hover {
    transform: scale(1.12);
}
.switch {
    margin-top: 18px;
    text-align: right;
    font-size: 14px;
}
 
