* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: Arial,  sans-serif;
}
body {
    background: url('../images/check.jpg') center/cover no-repeat fixed;
    min-height: 100vh;
    color: #fff;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}
.top-bar {
    position: fixed;
    top: 15px;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1000;
}
.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    width: 260px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    height: 20px;
}
input {
    border: none;
}
.search-box input {
    background: transparent;
    border: none;
    width: 100%;
}
.theme-toggle {
    font-size: 22px;
    cursor: pointer;
}
.dashboard {
    position: relative;
    display: grid;
}
.card {
    display: none;
    animation: fadeSlideIn 0.6s ease;
}
.card.active {
    display: block;
}
.sidebar-glass {
    width: 260px;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    
}
.profile-box {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 16px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 16px;
}
.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgba(41, 145, 67, 0.759);
    flex-shrink: 0;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.student-info h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 4px;
    text-align: center;
    font-weight: 600;
}
.student-info span {
    font-size: 24px;
    justify-content: center;
}
.sidebar-glass h2 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 18px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 14px;
    letter-spacing: 1px;
    transition: 0.35s ease;
}
.sidebar-nav .icon {
    font-size: 24px;
    min-width: 30px;
    text-align: center;
}
.icon {
    width: 24px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
}
.sidebar-nav .label {
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.85;
}
.sidebar-nav li:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(8px);
}
.sidebar-nav li:hover .icon {
    transform: scale(1.2);
}
.logout {
    background: rgba(255, 0, 0, 0.1);
}
.content {
    flex: 1;
    padding: 30px;
    overflow-y:auto ;
    position: relative;
    padding: 110px 30px 30px;
}
.app {
    display: flex;
    min-height: 100vh;
}
.battery-widget {
    position: absolute;
    top: 70px;
    right: 30px;
    z-index: 999;

}
.battery-container {
    position: relative;
    width: 100px;
    height: 200px;
    margin: 20px 0;
    text-align: center;
}
.battery-body {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}
.battery-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(90deg, #ff4c4c, #00ff6a);
    transition: height 0.5s ease-in-out;
}
.battery-tip {
    position: absolute;
    top: -10px;
    left: 33%;
    width: 40%;
    height: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px 4px 0 0;
}
#batteryPercent {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
/*charging stripes animation*/
@keyframes chargeStripes {
    0% {
        background-position: 0 0;
    }
}
/*animations*/
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.battery-fill.stripes{
    background-image: repeating-linear-gradient(45deg,
    rgba(255,255,255,0.2) 0 10px
    transparent 10px 20px
    );
    background-size: 40px 100%;
    animation: chargeStripes 1s linear infinite;
}