:root {
    --bg: #020617;
    --glass: rgba(255, 255, 255, 0.08);
    --text: #e5e7eb;
}
.light {
    --bg: #f8fafc;
    --glass: rgba(255, 255, 255, 0.6);
    --text: #020617;
}
body {
    background: 
        /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),*/ url('../images/check.jpg') center/cover no repeat fixed; 
        /* color: var(--text); */
}