* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: url('../images/check.jpg') center/cover no-repeat fixed;
    min-height: 100vh;
    color: #fff;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.top-bar {
    position: fixed;
    top: 15px;
    left: 55%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1000;
}
.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    width: 260px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    height: 50px;
}
.search-box input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
}
.theme-toggle {
    font-size: 22px;
    cursor: pointer;
}
.admin-container {
    display: flex;
    height: 100vh;
}
.sidebar {
    position: relative;
    top: 0;
    width: 260px;
    min-width: 220px;
    max-height: 300px;
    height: 100vh;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar.collapsed {
    width: 80px;
}
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.logo {
    font-size: 1.1rem;
    transition: opacity 0.3s ease;
}
.sidebar.collapsed .logo {
    opacity: 0;
    pointer-events: none;
}
.toogle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.sidebar.collapsed .admin-profile {
    justify-content: center;
}
.sidebar.collapsed .admin-info {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
}
.sidebar.collapsed .label {
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
}
.admin-profile {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 16px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    transition: all 0.3s ease;
}
.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgba(41, 145, 67, 0.759);
    flex-shrink: 0;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.admin info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.admin-info h4 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: left;
}
.admin-info span {
    font-size: 15px;
    color: #333;
    letter-spacing: 0.5px;
    text-align: center;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav li {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 14px 18px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 14px;
    letter-spacing: 1px;
    transition:  background 0.3s ease;
}
.sidebar-nav .icon {
    font-size: 24px;
    min-width: 30px;
    text-align: center;
}
.sidebar-nav .label {
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.85;
}
.sidebar-nav li:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateX(8px);
}
.sidebar-nav li:hover .icon {
    transform: scale(1.2);
}
.logout {
    background: rgba(255, 0, 0, 0.2);
}
.logout-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 10000;
}
.logout-modal.active {
    opacity: 1;
    pointer-events: auto;
}
.logout-box {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 25px;
    width: 320px;
    text-align: center;
    color: #fff;
    animation: popIn 0.4s ease;
}
.logout-box input {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}
.logout-box h3 {
    margin-bottom: 8px;
}
.logout-box p {
    font-size: 14px;
    opacity: 0.85;
}
.logout-actions button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.btn-no {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
.btn-yes {
    background: #ff4d4d;
    color: white;
}
@keyframes  popIn{
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/* clickable title */
.menu-title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    cursor: pointer;
}
/* menu items */
.menu-item:hover,
.menu-item.active {
    background: #1e293b;
}
.has-submenu::after {
    position: absolute;
    right: 14px;
    transition: transform 0.3s;
}
/*submenu parent*/
.has-submenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/*submenu container*/
.submenu {
    max-height: 0;
    overflow: hidden;
    padding-left: 30px;
    margin-top: 6px;
    transition: max-height 0.35s ease;
}
/*submenu items*/
.submenu li {
    padding: 8px 10px;
    margin-bottom: 6px;
    border-radius: 6px;
    background: #020617;
    font-size: 0.95rem;
}
.submenu li:hover {
    background: #334155;
}

/* Open state */
.has-submenu.open > .submenu {
    max-height: 300px;
}

.has-submenu.open::after {
    transform: rotate(180deg);
}
.menu-item.has-submenu .submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
}

.menu-item.has-submenu.open .submenu {
    max-height: 300px;
}
.side.collapsed .submenu {
    display: none; 
}

.content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    position: relative;
    overflow-y: auto;
}
.section {
    display: none;
    animation: fadeIn 0.5s ease;
    padding-top: 30px;
}
.section.active {
    display: block;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin: 20px;
}
.kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    word-wrap: break-word;
}
.kpi span {
    display: block;
    font-size: 32px;
    margin-top: 10px;
    color: cyan;
}
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    overflow: hidden;
}
th, td {
    padding: 14px;
    text-align: left;
}
th {
    background: rgba(0, 0, 0, 0.9);
}
tr:hover {
    background: rgba(255, 255, 255, 0.1);
}
button {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.chart-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 30px;
}
.chart-box {
    height: 500px;
    background: rgba(255, 255, 255, 0.12);
    background-color: blur(12px);
    border-radius: 16px;
    padding: 15px;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}
.calendar-wrapper {
    padding: 10px;
}
#adminCalendar {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
}
.weekend {
    background-color: rgba(255, 17, 17, 1) !important;
}
.holiday {
    background-color: rgba(255, 255, 0, 0.3) !important;
}
@media (max-width: 768px) {
    .admin-container { flex-direction: column; }
    .sidebar { width: 100%; }
}
.fc {
    color: white;
}

.fc-weekend {
    background: rgba(255, 0, 0, 0.18);
}

.fc-holiday {
    background: rgba(255, 255, 0, 0.25);
    font-weight: bold;
}

.fc-daygrid-day:hover {
    background: rgba(0, 255, 255, 0.15);
    cursor: pointer;
}
.supervisors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}
.supervisors-card {
    background: rgba(255, 255, 0, 0.08);
    backdrop-filter: blur(12px);
    backdrop-filter: 16px;
    padding: 16px;
    text-align: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.supervisors-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.supervisors-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    flex-shrink: 0;
}
.supervisors-card h4 {
    font-size: 1 rem;
    margin-bottom: 4px;
    font-weight: 600;
    color: #fff;
}
.supervisors-card small {
    font-size: 0.8rem;
    color: #ddd;
}
.assign-btn {
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    background: #4f46e5;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}
.assign-btn span {
    transition: transform 0.3s ease;
}
.assign-btn.open span {
    transform: rotate (180deg);
}
.student-dropdown {
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 6px;
    max-height: 200px;
    overflow-y: auto;
}
.student-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 6px;
}
.student-item:hover {
    background: rgba(255, 255, 255, 0.1);
}
.unassign {
    color: #f87171;
    font-size: 0.8rem;
    cursor: pointer;
}
.settings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (240px, 1fr));
    gap: 20px;
}
.setting-card {
    background: rgba(255, 255, 255, 0.12);
    padding: 20px;
    border-radius: 16px;
}
.setting-card h4 {
    margin-bottom: 6px;
}
.setting-card p {
    font-size: 0.85rem;
    opacity: 0.8;
}
.setting-card button {
    margin-top: 12px;
    width: 100%;
}
.setting-card.danger {
    border: 1px solid rgba(255, 0, 0, 0.4);
}
@media (max-width: 900px) {
    .sidebar {
        width: 200px;
    }

    .sidebar .label {
        font-size: 0.85rem;
    }
    .supervisors-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .supervisors-card img {
        width: 70px;
        height: 70px;
    }
    .assign-btn {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

}
@media (max-width: 650px) {
    .sidebar {
        position: fixed;
        left: -100%;
        top: 0;
        width: 240px;
        z-index: 1000;
        background: rgba(0,0,0,0.95);
    }

    .sidebar.open {
        left: 0;
    }

    .content {
        margin-left: 0;
    }

    .mobile-menu-btn {
        display: block;
    }
    .supervisors-grid {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px;
    }

    .supervisors-card img {
        width: 60px;
        height: 60px;
    }

    .assign-btn {
        font-size: 0.75rem;
        padding: 4px 8px;
    }
}
