.kpi-container {
    display: flex;
    gap: 15px;
}
.kpi {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}
.charts {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
.links {
    margin-top: 20px;
}
.links a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}